.Searchedproducts-Component-NotFound{
text-align: center;
width: 100%;
font-size: 1.1rem;
}
/* Media Queries */
@media (min-width: 1200px) and (max-width: 1400px) {
    .Searchedproducts-Component-NotFound{
        font-size: 1.05rem;
        }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .Searchedproducts-Component-NotFound{
        font-size: 1rem;
        }
}

@media (min-width: 768px) and (max-width: 992px) {
    .Searchedproducts-Component-NotFound{
        font-size: 1rem;
        }
}

@media (min-width: 576px) and (max-width: 768px) {
    .Searchedproducts-Component-NotFound{
        font-size: 0.95rem;
        }
}

@media (min-width: 420px) and (max-width: 576px) {
    .Searchedproducts-Component-NotFound{
        font-size: 0.9rem;
        }
        .Searchedresults-Component-parent-container{
            gap: 1rem;
        }
}

@media (min-width: 310px) and (max-width: 420px) {
    .Searchedproducts-Component-NotFound{
        font-size: 0.85rem;
        }
        .Searchedresults-Component-parent-container{
            gap: 1rem;
        }
}