.Pagenotfound-Component{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 1rem;
}
.Pagenotfound-Imagecon{
    max-width: 100vw;
    height: 70vh;
    overflow: hidden;
}
.Pagenotfound-Imagecon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.Pagenotfound-Component button{
    padding: 0.7rem 1.1rem;
    border: none;
    background-color: var(--accent);
    color: white;
    transition:0.2s;
    border-radius: 5px;
}
.Pagenotfound-Component button:hover{
cursor: pointer;
background-color: rgba(46, 165, 169, 0.8);
}
/* ...media queries */
@media (min-width: 310px) and (max-width: 576px) {
    .Pagenotfound-Component{
        min-height: calc(100vh - 60px);
        min-height: calc(100svh - 60px);
        gap: 0rem;
    }
    .Pagenotfound-Imagecon{
        max-width: 100vw;
        height: 50vh;
        overflow: hidden;
    }
    .Pagenotfound-Component button{
        padding: 0.6rem 1rem;
        font-size: 0.9rem;

    }
}

